{% extends 'base.html' %}

{% block content %}
    <h2 class="text-3xl font-bold text-gray-800 mb-4 text-center">Agregar Obra de Teatro</h2>
    <div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="imagen" class="block text-gray-700 font-bold mb-2">Foto:</label>
                <input type="file" id="imagen" name="imagen" required
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       onchange="previewImage(event)">
                <img id="image-preview" src="#" alt="Vista previa de la imagen" class="hidden mt-4" style="max-width: 100%; height: auto;"/>
            </div>
            <div class="mb-4">
                <label for="nombre" class="block text-gray-700 font-bold mb-2">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required
                       class="shadow bg-indigo-50 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="descripcion" class="block text-gray-700 font-bold mb-2">Descripción:</label>
                <textarea id="descripcion" name="descripcion"
                          class="shadow bg-indigo-50 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
            </div>
            <div class="mb-4">
                <label for="genero" class="block text-gray-700 font-bold mb-2">Género:</label>
                <input type="text" id="genero" name="genero"
                       class="shadow bg-indigo-50 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Guardar
                </button>
            </div>
        </form>
    </div>
    <div class="pb-5">
        <a href="{% url 'listar_obra' %}" class="block text-blue-500 hover:text-blue-700 mt-4 mb-4">&larr; Volver al Listado de Obras de Teatro</a>
    </div>
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('image-preview');
                output.src = reader.result;
                output.classList.remove('hidden');
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
{% endblock %}
