{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6">
    <h2 class="text-2xl font-bold mb-6 text-center">Editar Reserva de Utilería</h2>
    
    <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
