{% extends 'base.html' %}

{% block content %}
    <h2 class="text-3xl font-bold text-gray-800 mb-4 text-center">Editar Utilería</h2>
    <div class="max-w-lg mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="codigo" class="block text-gray-700 text-sm font-bold mb-2">Código:</label>
                <input type="text" id="codigo" name="codigo" value= '{{utileria.codigo}}' class="shadow bg-indigo-50 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="descripcion" class="block text-gray-700 text-sm font-bold mb-2">Descripción:</label>
                <textarea id="descripcion" name="descripcion" class="shadow bg-indigo-50 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>{{ utileria.descripcion }}</textarea>
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Guardar cambios
            </button>
        </form>
    </div>
    <a href="{% url 'detalle_utileria'  utileria.id %}" class="block text-blue-500 hover:text-blue-700 mt-4">&larr; Volver Atras</a>
{% endblock %}
