{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6">
    <h2 class="text-2xl font-bold mb-6 text-center">Listado de Utilerías</h2>
    
    <div class="overflow-x-auto max-h-screen pb-8">
        <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead>
                <tr class="bg-blue-500 text-white">
                    <th class="py-2 px-4 border-b text-left">Código</th>
                    <th class="py-2 px-4 border-b text-left">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for utileria in utilerias %}
                <tr class="hover:bg-gray-100">
                    <td class="py-2 px-4 border-b">
                        <a href="{% url 'detalle_utileria' utileria.id %}" class="text-blue-500 hover:underline">{{ utileria.codigo }}</a>
                    </td>
                    <td class="py-2 px-4 border-b">{{ utileria.descripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="flex mt-4">
        <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-200" onclick="location.href='{% url 'agregar_utileria' %}'">Agregar Utilería</button>
    </div>
</div>
{% endblock %}
