{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6 bg-blue-400 shadow-md rounded-lg">
    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Cartelera</h2>
    
    <div class="flex justify-center mb-6">
        <button id="btnTeatro" class="px-4 py-2 mr-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50" onclick="showSection('teatro')">Obras de Teatro</button>
        <button id="btnPeliculas" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50" onclick="showSection('peliculas')">Películas</button>
    </div>
    
    <div id="teatro" class="section">
        <h2 class="text-gray-800 text-2xl font-semibold mb-4">Obras de Teatro</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for obra in eventos %}
            {% if obra.obra_teatro %}
            <div class="bg-blue-200 p-4 rounded-lg shadow-md">
                <img src="{{ obra.obra_teatro.imagen.url }}" alt="" class="w-full h-48 object-contain rounded-lg mb-4">
                <h3 class="text-lg font-semibold text-gray-800">{{ obra.obra_teatro.nombre }}</h3>
                <p class="text-gray-600"><strong>Sala:</strong> {{ obra.sala }}</p>
                <p class="text-gray-600"><strong>Fecha:</strong> {{ obra.fecha }}</p>
                <p class="text-gray-600"><strong>Hora:</strong> {{ obra.hora }}</p>
                {% if request.user.rol == 'Administrador' or request.user.rol == 'Informatico' %}
                <div class="flex justify-between mt-4">
                    <a href="" class="text-blue-500 hover:underline">Editar</a>
                    <a href="" class="text-red-500 hover:underline">Eliminar</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% if request.user.rol == 'Administrador' or request.user.rol == 'Informatico' %}
        <div class="flex justify-center mt-6">
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-200" onclick="location.href='{% url 'agregar_obra_teatroc' %}'">
                Agregar Evento
            </button>
        </div>
        {% endif %}
    </div>
    
    <div id="peliculas" class="section" style="display: none;">
        <h2 class="text-gray-800 text-2xl font-semibold mb-4">Películas</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for obra in eventos %}
            {% if obra.pelicula %}
            <div class="bg-blue-200 p-4 rounded-lg shadow-md">
                <img src="{{ obra.pelicula.imagen.url }}" alt="" class="w-full h-48 object-contain rounded-lg mb-4">
                <h3 class="text-lg font-semibold text-gray-800">{{ obra.pelicula.nombre }}</h3>
                <p class="text-gray-600"><strong>Sala:</strong> {{ obra.sala }}</p>
                <p class="text-gray-600"><strong>Fecha:</strong> {{ obra.fecha }}</p>
                <p class="text-gray-600"><strong>Hora:</strong> {{ obra.hora }}</p>
                {% if request.user.rol == 'Administrador' or request.user.rol == 'Informatico' %}
                <div class="flex justify-between mt-4">
                    <a href="" class="text-blue-500 hover:underline">Editar</a>
                    <a href="" class="text-red-500 hover:underline">Eliminar</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% if request.user.rol == 'Administrador' or request.user.rol == 'Informatico' %}
        <div class="flex justify-center mt-6">
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-200" onclick="location.href='{% url 'agregar_obra_peliculac' %}'">
                Agregar Evento
            </button>
        </div>
        {% endif %}
    </div>
</div>

<script>
    function showSection(section) {
        document.getElementById('teatro').style.display = 'none';
        document.getElementById('peliculas').style.display = 'none';
        
        if (section === 'teatro') {
            document.getElementById('teatro').style.display = 'block';
        } else if (section === 'peliculas') {
            document.getElementById('peliculas').style.display = 'block';
        }
    }
</script>
{% endblock %}
