{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto mt-10 p-4">
        <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-3xl font-bold text-center mb-4">Perfil de Usuario</h2>
            <div class="flex flex-col items-center">
                <div class="mb-4">
                    <svg class="w-20 h-20 text-blue-500" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12c2.1 0 3.8-1.7 3.8-3.8S14.1 4.4 12 4.4 8.2 6.1 8.2 8.2 9.9 12 12 12zM12 14.6c-3.6 0-10.8 1.8-10.8 5.4v1.4h21.6V20c0-3.6-7.2-5.4-10.8-5.4z"/>
                    </svg>
                </div>
                <div class="text-left w-full px-4">
                    <p class="text-lg text-gray-700 mb-2"><strong>Nombre:</strong> {{ user.nombre }}</p>
                    <p class="text-lg text-gray-700 mb-2"><strong>Email:</strong> {{ user.email }}</p>
                    <p class="text-lg text-gray-700 mb-2"><strong>Rol:</strong> {{ user.get_rol_display }}</p>
                </div>
            </div>
            <a href="{% url 'editar_perfil' usuario.id %}"><button type="button">Editar</button></a>
        </div>
    </div>
{% endblock %}
