<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'utileria/src/style.css' %}">
    <title>{% block title %}Teatro Nacional de Cuba{% endblock %}</title>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <header class="bg-blue-500 text-white p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <a href="{% url 'home' %}" class="text-lg font-bold text-white">Teatro Nacional de Cuba</a>
                <nav class="hidden md:flex space-x-4">
                    <a href="{% url 'home' %}" class="hover:text-gray-300">Inicio</a>
                    <a href="{% url 'listar_cartelera' %}" class="hover:text-gray-300" >Cartelera</a>
                    <a href="{% url 'acercade' %}" class="hover:text-gray-300">Acerca de</a>
                    
                </nav>
            </div>
            <div class="flex items-center space-x-4">
                {% if user.is_authenticated %}
                    <p class="hidden md:block">Hola, {{ user.nombre }}. Bienvenido a la página web del Teatro Nacional de Cuba.</p>
                    <nav class="hidden md:flex space-x-4">
                        <a href="{% url 'perfil' %}" class="hover:text-gray-300">Perfil</a>
                    </nav>
                    <form action="{% url 'logout' %}" method="post" class="hidden md:block">
                        {% csrf_token %}
                        <button type="submit" class="bg-white text-blue-500 px-4 py-2 rounded-md hover:bg-blue-100">Logout</button>
                    </form>
                {% else %}
                    <p class="hidden md:block">Hola, Bienvenido a la página web del Teatro Nacional de Cuba</p>
                {% endif %}
            </div>
            <button class="md:hidden text-white" id="mobile-menu-button">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        <nav id="mobile-menu" class="md:hidden hidden bg-blue-500">
            <ul class="flex flex-col space-y-2 p-4">
                <li><a href="{% url 'home' %}" class="hover:text-gray-300">Inicio</a></li>
                <li><a href="{% url 'acercade' %}" class="hover:text-gray-300">Acerca de</a></li>
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="bg-white text-blue-500 px-4 py-2 rounded-md hover:bg-blue-100">Logout</button>
                    </form>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main class="container mx-auto mt-8 mb-auto px-4">
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="bg-blue-500 text-white text-center p-4 w-full">
        <p class="text-sm">&copy; Todos los derechos reservados. {{ year }}</p>
    </footer>      
</body>
</html>
